<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Coursica" %>">
  	<meta charset="utf-8" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />


<meta name="viewport" content="width=device-width" />

    <title><%= content_for?(:title) ? yield(:title) : "Coursica" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">

    <div id="splashScreen">
      
      <div id="splash">
        <img src="/assets/Chalkboard.png" alt="logo" id="splashLogo">
        <div id="splashContainer">
          <div id="splashPointIntro">Welcome to Coursica. Create your Northwestern schedule in three easy steps!</div>
          <div id="splashPointOne">
            <img src="/assets/splash1.png" id='splashOne'>
            <!--<img src="/assets/splashPic1.png" id='splashPic1'>-->
            <div class='splashText'>Search for any class.</div>
          </div>
          <div id="splashPointTwo">
            <img src="/assets/splash2.png" id='splashTwo'>
           <!-- <img src="/assets/splashPic2.png" id='splashPic2'>-->
            <div class='splashText'>Create your shopping cart.</div>
          </div>
          <div id="splashPointThree">
            <img src="/assets/splash3.png" id='splashThree'>
            <!--<img src="/assets/splashPic3.png" id='splashPic3'>-->
            <div class='splashText'>Share your new schedule!</div>
          </div>
        </div>
      </div>
      
      </br>

      <div id="calltoaction">
        <a id="calltoactionButton" class="button" href="#">Take me to Coursica!</a>
      </div>

    </div>

    <div id="container" class="container">

      <header>

        <!-- Title Bar -->

        <div class=""> <!--contain-to-grid sticky-->
          <nav class="top-bar" style="">
                <ul class="title-area">
                  <li class="name">
                    <h1>
                      <a href="#">Coursica</a>
                    </h1>
                  </li>
                  <li class="toggle-topbar menu-icon">
                    <a href="#"><span>menu</span></a>
                  </li>
                </ul>
            <section class="top-bar-section">
              <!-- Left Nav Section -->
              <ul class="left">
                <li class="divider"></li>
                <li><a href="#" data-reveal-id="aboutModal">About</a></li>
                <li class="divider"></li>
                <li><a href="#" data-reveal-id="contactModal">Contact</a></li>
                <li class="divider"></li>
              </ul>
            </section>
          </nav>
        </div>


        <!-- End Title Bar -->

      </header>
      <div id="main" role="main">
        <%= yield %>
      </div>
      <footer>
      </footer>
    </div> <!--! end of #container -->

    
    <%= javascript_include_tag "application" %>
  </body>
</html>



